
.idea
out
target

.project
.classpath
.settings
*.ts.temporary
*.csv
src/main/config/localVHS.properties
src/test/config/localVHS.properties
src/test/data/emptyData/*.ts
src/test/data/emptyData/*.ts.*


